{% extends 'party/base.html' %}
{% block title %}
    <title>About | Darklite Partywiki</title>
    <meta property="og:title" content="About | Darklite Partywiki"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>About</h3>
                <p>This is the third iteration. The first one was a wikipages text file. The second one was Django app
                    made
                    by yours truly, and also destroyed by yours truly.</p>
                <p>Somehow the data has been able to be preserved throughout this and lives now here.</p>
                <p>Thank you to the various people who have helped with this along the way</p>

                <ul>
                    <li>Epo</li>
                    <li>Gargaj</li>
                    <li>Ozkuu</li>
                    <li>Sir GarbageTruck</li>
                    <li>Susencrusen</li>
                </ul>

            </div>
            <div class="col-md-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Django {{ django_version }}</li>
                    <li class="list-group-item">Rest Framework {{ rest_framework_version }}</li>
                    <li class="list-group-item">Python {{ python_version }}</li>
                    <li class="list-group-item">SQLite3 {{ sqlite_version }}</li>
                    <li class="list-group-item">Bootstrap {{ bootstrap_version }}</li>
                    <li class="list-group-item">FontAwesome {{ fontawesome_version }}</li>
                    <li class="list-group-item">jQuery {{ jquery_version }}</li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}
