<!DOCTYPE html>{% load static plausible %}
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Darklite Partywiki</title>
        <meta property="og:title" content="Darklite Partywiki"/>
    {% endblock %}
    <meta property="og:description" content="You'll never travel alone - Even if you'd want to"/>
    <meta property="og:image" content="https://party.darklite.org/static/android-chrome-192x192.webp"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" sizes="any" type="image/svg+xml" href="{% static 'svg/partywiki_multi_color_smile.svg' %}"/>
    <link rel="alternate icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-180x180.webp' %}">
    <link rel="icon" type="image/webp" sizes="32x32" href="{% static 'favicon-32x32.webp' %}">
    <link rel="icon" type="image/webp" sizes="16x16" href="{% static 'favicon-16x16.webp' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">

    {% block extrahead %}
    {% endblock %}
    <script src="{% static 'party/bs-color-mode-toggler.js' %}"></script>
    <link rel="stylesheet" href="{% static 'party/lumen.bootswatch.5.3.3.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'party/style.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icons/7.2.3/css/flag-icons.min.css"
          integrity="sha512-bZBu2H0+FGFz/stDN/L0k8J0G8qVsAL0ht1qg5kTwtAheiXwiRKyCq1frwfbSFSJN3jooR5kauE0YjtPzhZtJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
            integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"
            integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

<nav class="navbar navbar-expand-md bg-primary navbar-dark mb-2">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand my-0 py-0 me-2" href="{% url 'party:landing_page' %}">
            <img src="{% static 'svg/partywiki_multi_color_smile.svg' %}" class="me-2 align-top"
                 style="height: 26px;"/>
            <span class="align-top">Darklite PartyWiki</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == "party:list" %} active {% endif %}"
                       href="{% url 'party:list' %}">
                        <i class="fas fa-list d-inline d-md-none d-lg-inline"></i> Parties</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.view_name == "party:stats" %} active {% endif %}"
                           href="{% url 'party:stats' %}">
                            <i class="fas fa-chart-pie d-inline d-md-none d-lg-inline"></i>
                            Stats</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <i class="fa fa-user-circle d-inline d-md-none d-lg-inline"></i>
                            Account
                        </a>
                        <div class="dropdown-menu">
                            <span class="dropdown-item-text">{{ request.user.display_name }}</span>
                            <hr class="dropdown-divider">
                            <a class="dropdown-item" href="{% url 'authentication:profile' %}">
                                <i class="fa fa-user-circle"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="{% url 'authentication:logout' %}?next={{ request.path }}">
                                <i class="fa fa-sign-out"></i>
                                Sign out
                            </a>
                        </div>
                    </li>
                    {% if request.user.is_superuser %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'admin:index' %}">DjangoAdmin</a>
                                <a class="dropdown-item" href="{% url 'logviewer:index' %}">LogViewer</a>
                            </div>
                        </li>

                    {% endif %}
                {% else %}
                    <li class="nav-item {% if request.resolver_match.view_name == "authentication:auth" %} active {% endif %}">
                        <a class="nav-link sceneid-a" href="{% url 'authentication:auth' %}">
                            <img class="sceneid-img" src="{% static 'party/images/SceneID_Icon_200x32.svg' %}"
                                 alt="Login using SceneID"/>
                        </a>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex" role="search" method="get" action="{% url 'party:search' %}">
                <div class="input-group me-1">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                           name="search" value="{{ query }}">
                    <button class="btn btn-sm btn-secondary" type="submit">
                        <i class="fa-solid fa-magnifying-glass mx-1"></i>Search
                    </button>
                </div>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0 ms-2">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false"><i class="fas fa-sun"></i></a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <button class="dropdown-item" data-bs-theme-value="dark">
                            <i class="fas fa-moon themeIcons"></i>
                            Darklite mode
                        </button>
                        <button class="dropdown-item" data-bs-theme-value="light">
                            <i class="fas fa-sun themeIcons"></i>
                            Not Darklite mode
                        </button>
                        <button class="dropdown-item" data-bs-theme-value="auto">
                            <i class="fa-solid fa-wand-magic-sparkles themeIcons"></i>
                            Auto
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-dismissible {% if message.tags %} alert-{{ message.tags }} {% endif %}" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}


<noscript>
    <style>
        .container, .navbar {
            display: none;
        }
    </style>
    <h1>NO JAVASCRIPT?!</h1>
    <h3>Why not Zoidberg?</h3>
    <h5>We use JS as follows:</h5>
    <ul>
        <li>jQuery.js to make our autocompletes work</li>
        <li>Moment.js with locales</li>
        <li>Tempus Dominus datepicker</li>
        <li>Plausible analytics</li>
    </ul>
    <p>
        Feel free to block out analytics, but the other scripts are needed for this webapp to work
    </p>
</noscript>

{% block content %}
{% endblock %}

<div class="container">
    <footer>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 mt-5">
            <div class="col mb-3">
                <a href="https://www.darklite.org" class="d-flex align-items-center mb-3">
                    <img class="img-fluid theme-image" src="{% static 'party/images/darklite_inverted.webp' %}"
                         alt="darklite logo">
                </a>
                <p class="text-body-secondary">&copy; 2012-{% now "Y" %} darklite</p>
                <p class="text-body-secondary">You'll never travel alone. Even if you'd want to.</p>
            </div>

            <div class="col mb-3">

            </div>

            {% if not user.is_authenticated %}
                <div class="col mb-3">
                </div>
            {% endif %}

            <div class="col mb-3">
                <h5>Info</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="{% url 'party:landing_page' %}"
                           class="nav-link p-0 text-body-secondary">
                            <i class="fas fa-home me-2"></i>
                            Home</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="{% url 'party:list' %}"
                           class="nav-link p-0 text-body-secondary">
                            <i class="fas fa-list me-2"></i>
                            Party List</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="{% url 'party:about' %}"
                           class="nav-link p-0 text-body-secondary">
                            <i class="fas fa-info-circle me-2"></i>
                            About this site</a>
                    </li>
                </ul>
            </div>

            <div class="col mb-3">
                <h5>Extras</h5>
                <ul class="nav flex-column">
                    {% if user.is_authenticated %}
                        <li class="nav-item mb-2">
                            <a href="{% url 'party:stats' %}"
                               class="nav-link p-0 text-body-secondary">
                                <i class="fas fa-chart-pie me-2"></i>
                                Statistics</a>
                        </li>
                    {% endif %}
                    <li class="nav-item mb-2">
                        <a href="{% url 'feeds' %}"
                           class="nav-link p-0 text-body-secondary">
                            <i class="fas fa-rss me-2"></i>
                            RSS Feeds</a>
                    </li>
                </ul>
            </div>

            {% if user.is_authenticated %}
                <div class="col mb-3">
                    <h5>Account</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="{% url 'authentication:profile' %}"
                               class="nav-link p-0 text-body-secondary">
                                <i class="fas fa-user me-2"></i>
                                Your Account</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="{% url 'authentication:logout' %}?next={{ request.path }}"
                               class="nav-link p-0 text-body-secondary">
                                <i class="fa fa-sign-out me-2"></i>
                                Log out</a>
                        </li>
                    </ul>
                </div>
            {% endif %}


        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-end pb-4 mb-4">
            <ul class="list-unstyled d-flex">
                <li class="">
                    <a href="https://www.darklite.org">
                        <i class="fa fa-fw fa-home fa-2x"></i></a>
                </li>
                <li class="ms-3">
                    <a href="https://www.facebook.com/groups/darklite/">
                        <i class="fab fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="ms-3">
                    <a href="https://darklitegroupigs.bsky.social">
                        <i class="fab fa-bluesky fa-2x"></i></a>
                </li>
                <li class="ms-3">
                    <a href="https://twitter.com/darkliters">
                        <i class="fab fa-twitter fa-2x"></i></a>
                </li>
                <li class="ms-3">
                    <a href="https://www.instagram.com/darklitegroupigs/">
                        <i class="fab fa-instagram-square fa-2x"></i></a>
                </li>
                <li class="ms-3">
                    <a href="https://github.com/T-101/party.darklite.org">
                        <i class="fab fa-github fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </footer>

</div>

</body>

{% block formmedia %}
{% endblock %}

{% plausible %}

</html>
