{% extends 'party/base.html' %}{% load crispy_forms_tags %}{% load countries %}

{% block title %}
    {% if request.resolver_match.view_name != "party:update" %}
        <title>Create a new party | Darklite Partywiki</title>
        <meta property="og:title" content="Create a new party | Darklite Partywiki"/>
    {% else %}
        <title>Modify a new party | Darklite Partywiki</title>
        <meta property="og:title" content="Modify a new party | Darklite Partywiki"/>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                {% if request.resolver_match.view_name != "party:update" %}
                    <h3>Add a party</h3>
                {% else %}
                    <h3>Modify a party</h3>
                {% endif %}
                {% crispy form %}
                <p>Fields with (*) are mandatory</p>
            </div>

            {% if request.resolver_match.view_name != "party:update" %}
                <div class="col-sm-6">
                    <div class="ms-4">
                        <!-- <h3 class="mb-4">Or generate from <a href="https://www.demoparty.net/">demoparty.net</a></h3>
                        <div class="spinner-border float-right" role="status" id="demopartySpinner">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div style="list-style: none" id="partyList">
                        </div> -->
                        <h4>This is where you could add an upcoming party with one click,
                            but Demoparty.net disabled their API without warning.</h4>
                        <h6><a href="https://www.demoparty.net/api">https://www.demoparty.net/api</a></h6>
                        <h6>Working on an XML parser for their RSS feed.</h6>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="spinnerModal" data-backdrop="static" data-keyboard="false"
         tabindex="-1" aria-labelledby="spinnerModalLabel" aria-hidden="true">
        <div class="modal-dialog h-100 d-flex flex-column justify-content-center my-0">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="spinnerModalLabel">Just a moment...</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-2 my-auto">
                            <div class="spinner-border float-right" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="col my-auto">
                            Fetching data from demoparty.net
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $("#id_date_start").on("change.datetimepicker", e => {
            $("#id_date_end").val(e.target.value)
        })
    </script>

<!--    {% if request.resolver_match.view_name != "party:update" %}
        <script type="text/javascript">

            const partyList = document.getElementById("partyList"),
                spinner = document.getElementById("demopartySpinner"),
                date = new Date().toISOString().slice(0, 10)


            renderParties = (data) => {
                const regionNames = 'Intl' in window ? new Intl.DisplayNames(['en'], {type: 'region'}) : false
                const partyArray = data.map(({name, id, locationCountry, startDate}) => (
                    {name, id, country: locationCountry.slice(-2), startDate: startDate.slice(0, 10)}
                ))

                let lastMonth = ""
                spinner.hidden = true

                partyArray.forEach(item => {
                    const countryName = regionNames ? regionNames.of(item.country) : item.country
                    const thisMonth = new Date(item.startDate).toLocaleString('en-us', {month: 'long'})
                    if (lastMonth !== thisMonth) {
                        lastMonth = thisMonth
                        const header = document.createElement("h5")
                        header.className = "mt-2"
                        header.innerText = thisMonth
                        partyList.appendChild(header)
                    }
                    const li = document.createElement("li")
                    const div = document.createElement("div")
                    div.className = "text-center"
                    div.style.cssText = "width: 20px; display: inline-block"
                    const img = document.createElement("img")
                    img.src = `/static/flags/${item.country.toLowerCase()}.gif`
                    img.height = 10
                    img.title = countryName
                    img.alt = `Flag of ${countryName}`
                    div.append(img)
                    const a = document.createElement("a")
                    a.className = "createPartyLink ms-2"
                    a.href = "{% url 'party:demopartynet-create' %}?id=" + item.id
                    a.textContent = item.name
                    a.addEventListener("click", () => {
                        $("#spinnerModal").modal("show")
                    })
                    li.append(div, a)
                    partyList.append(li)
                })

            }

            const url = `https://www.demoparty.net/api/events?startDate[after]=${date}&order[startDate]=asc`

            fetch(url)
                .then(res => res.json())
                .then(j => renderParties(j["hydra:member"]))

        </script>
    {% endif %}-->

{% endblock %}
