{% extends 'party/base.html' %}{% load crispy_forms_tags %}{% load countries %}

{% block title %}
    <title>Create a new party | Darklite Partywiki</title>
    <meta property="og:title" content="Create a new party | Darklite Partywiki" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Add a party</h3>
                {% crispy form %}
                <p>Fields with (*) are mandatory</p>
            </div>
            {% if parties %}
                <div class="col-sm-6">
                    <h3>Or select from <a href="https://www.demoparty.net/">demoparty.net</a></h3>
                    {% for party in parties %}
                        {% get_country party.2 as country %}
                        <li>
                            <img src="/static/flags/{{ party.2|lower }}.gif"
                                 height="10" title="{{ country.name }}"
                                 alt="Flag: {{ country.name }}"
                                 onerror="this.style.display='none'">&nbsp;
                            <a href="{% url 'party:demopartynet-create' %}?slug={{ party.0|slugify }}">{{ party.0 }}</a>
                        </li>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
