{% extends 'party/base.html' %}{% load crispy_forms_tags %}{% load countries %}

{% block title %}
    {% if request.resolver_match.view_name != "party:update" %}
        <title>Create a new party | Darklite Partywiki</title>
        <meta property="og:title" content="Create a new party | Darklite Partywiki"/>
    {% else %}
        <title>Modify a new party | Darklite Partywiki</title>
        <meta property="og:title" content="Modify a new party | Darklite Partywiki"/>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                {% if request.resolver_match.view_name != "party:update" %}
                    <h3>Add a party</h3>
                {% else %}
                    <h3>Modify a party</h3>
                {% endif %}
                {% crispy form %}
                <p>Fields with (*) are mandatory</p>
            </div>

            {% if request.resolver_match.view_name != "party:update" %}
                <div class="col-sm-6">
                    <div class="ms-4">
                        <h3 class="mb-4">Or generate from <a href="https://www.demoparty.net/">demoparty.net</a></h3>
                        <div class="spinner-border float-right" role="status" id="demopartySpinner">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div style="list-style: none" id="partyList">
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="spinnerModal" data-backdrop="static" data-keyboard="false"
         tabindex="-1" aria-labelledby="spinnerModalLabel" aria-hidden="true">
        <div class="modal-dialog h-100 d-flex flex-column justify-content-center my-0">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="spinnerModalLabel">Just a moment...</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-2 my-auto">
                            <div class="spinner-border float-right" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="col my-auto">
                            Fetching data from demoparty.net
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <template id="listItem">
        <li>
            <div class="text-center" style="width: 20px; display: inline-block">
                <img height="10">
            </div>
            <a class="createPartyLink ms-2"></a>
        </li>

    </template>

    <script type="text/javascript">
        $("#id_date_start").on("change.datetimepicker", e => {
            $("#id_date_end").val(e.target.value)
        })
    </script>

    {% if request.resolver_match.view_name != "party:update" %}
        <script>
            const partyList = document.getElementById("partyList"),
                spinner = document.getElementById("demopartySpinner"),
                date = new Date().toISOString().slice(0, 10)

            function getData() {
                fetch("https://www.demoparty.net/demoparties.xml")
                    .then(response => response.text())
                    .then(str => new window.DOMParser().parseFromString(str, "text/xml"))
                    .then(data => {
                        spinner.hidden = true
                        renderData(data)
                    })
            }

            function renderData(rssData) {
                let lastMonth
                const regionNames = 'Intl' in window ? new Intl.DisplayNames(['en'], {type: 'region'}) : false
                rssData.querySelectorAll("item").forEach(item => {
                    const countryName = regionNames ? regionNames.of(item.querySelector("country").textContent) : item.querySelector("country").textContent
                    const thisMonth = new Date(item.querySelector("startDate").textContent).toLocaleString('en-us', {month: 'long'})
                    if (lastMonth !== thisMonth) {
                        lastMonth = thisMonth
                        const header = document.createElement("h5")
                        header.className = "mt-2"
                        header.innerText = thisMonth
                        partyList.appendChild(header)
                    }
                    const content = document.getElementById("listItem").content.cloneNode(true)
                    const a = content.querySelector("a")
                    const img = content.querySelector("img")
                    img.src = `/static/flags/${item.querySelector("country").textContent.toLowerCase()}.gif`
                    img.alt = `Flag of ${countryName}`
                    img.title = countryName
                    const url = new URL(item.querySelector("link").textContent)
                    a.href = "{% url 'party:demopartynet-create' %}?url=" + url.pathname
                    a.textContent = item.querySelector("title").textContent
                    a.addEventListener("click", () => {
                        $("#spinnerModal").modal("show")
                    })
                    partyList.append(content)
                })
            }

            getData()

        </script>
    {% endif %}

{% endblock %}
