{% extends 'party/base.html' %}
{% load partywiki_extras %}

{% block title %}
    <title>{{ object }} | Darklite Partywiki</title>
    <meta property="og:title" content="{{ object }} | Darklite Partywiki"/>
{% endblock %}

{% block content %}
    <div class="py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col">
                            <h1 class="">{{ object|small_year }} <a
                                    href="{% url 'party:update' object.slug %}" title="Modify this party">
                                {% if not object.has_ended or user.is_superuser %}
                                    <span style="font-size: 1rem;">
                                        <i class="far fa-edit"></i>
                                    </span>
                                {% endif %}
                            </a>
                            </h1>


                        </div>
                        <div class="text-right col">
                            <ul class="list-unstyled">
                                <li>{{ object.date_range }}</li>
                                <li>
                                    {{ object.location }}
                                    <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.9.0/flags/4x3/{{ object.country.code|lower }}.svg"
                                         alt="flag of {{ object.country.name }}" title="{{ object.country.name }}"
                                         height="11" onerror="this.style.display='none'">
                                </li>
                                {% if object.www %}
                                    <li><a href="{{ object.www }}">{{ object.www }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <input class="form-control form-control-lg" type="text" autocomplete="off"
                       placeholder="Filter visitors" id="filter"/>
            </div>
        </div>
    </div>
    <div class="py-2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="lead">Towards party</p>
                </div>
                <div class="col text-right">
                    {% if user.is_authenticated %}
                        {% if not object.has_ended or user.is_superuser %}
                            <a class="btn btn-success" type="button" id="dropdownPartyButton"
                               href="{% url 'party:create-trip-to' object.slug %}">
                                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;ADD TRIP TOWARDS PARTY
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'authentication:auth' %}" class="btn btn-success">LOGIN TO SEE DETAILS</a>
                    {% endif %}
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-responsive-sm table-sm">
                        <thead class="thead">
                        <tr>
                            <th>Nick/Group</th>
                            <th>From</th>
                            {% if user.is_authenticated %}
                                <th>Datetime</th>
                            {% endif %}
                            <th>To</th>
                            {% if user.is_authenticated %}
                                <th>Datetime</th>
                                <th>Using</th>
                                <th class="text-nowrap">Details</th>
                                {% if not object.has_ended or user.is_superuser %}
                                    <th></th>
                                {% endif %}
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for trip in inbound %}
                            {% include 'party/trip_detail_row.html' with direction="to" %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="py-2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="lead">From party</p>
                </div>
                <div class="col text-right">
                    {% if user.is_authenticated %}
                        {% if not object.has_ended or user.is_superuser %}
                            <a class="btn btn-success" type="button" id="dropdownPartyButton"
                               href="{% url 'party:create-trip-from' object.slug %}">
                                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;ADD TRIP FROM PARTY
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'authentication:auth' %}" class="btn btn-success">LOGIN TO SEE DETAILS</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-responsive-sm table-sm">
                        <thead class="thead">
                        <tr>
                            <th>Nick/Group</th>
                            <th>From</th>
                            {% if user.is_authenticated %}
                                <th>Datetime</th>
                            {% endif %}
                            <th>To</th>
                            {% if user.is_authenticated %}
                                <th>Datetime</th>
                                <th>Using</th>
                                <th class="text-nowrap">Details</th>
                                {% if not object.has_ended or user.is_superuser %}
                                    <th></th>
                                {% endif %}
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for trip in outbound %}
                            {% include 'party/trip_detail_row.html' with direction="from" %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <small>Added by {{ object.created_by|get_display_name }} on {{ object.created_dt }}</small>
        {% if object.modified_by %}
            <br/>
            <small>Modified by {{ object.modified_by|get_display_name }}
                on {{ object.modified_dt }}</small>
        {% endif %}
    </div>

    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'party:landing_page' %}">Home</a></li>
                        <li class="breadcrumb-item"><a
                                href="{% url 'party:list' %}">Parties</a></li>
                        <li class="breadcrumb-item"><a
                                href="{% url 'party:list-by-year' object.date_start.year %}">{{ object.date_start.year }}</a>
                        </li>
                        <li class="breadcrumb-item active">{{ object.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <style>
        .hidden {
            display: none;
        }
    </style>

    <script>
        var input = document.querySelector('#filter');
        var items = document.getElementsByClassName('table-data-row')

        input.addEventListener('keyup', function (ev) {
            var text = ev.target.value;
            var pat = new RegExp(text, 'i');
            for (var i = 0; i < items.length; i++) {
                var item = items[i];
                if (pat.test(item.innerText)) {
                    item.classList.remove("hidden");
                } else {
                    item.classList.add("hidden");
                }
            }
        });

    </script>

{% endblock %}
