{% extends 'party/base.html' %}

{% block title %}
    <title>List of parties | Darklite Partywiki</title>
    <meta property="og:title" content="List of parties | Darklite Partywiki" />
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Some parties</h3>
        {% regroup object_list by name as parties %}
        <ul class="list-group">
            {% for party in parties %}
                <li class="list-group-item" style="padding: .35rem 1.25rem;">{{ party.grouper }}
                    {% for party_instance in party.list %}
                        <a href="{% url 'party:detail' party_instance.slug %}">{{ party_instance.date_start.year }}</a>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'party:landing_page' %}">Home</a></li>
                        <li class="breadcrumb-item"><a
                                href="{% url 'party:list' %}">Parties</a></li>
                        {% comment %}                        <li class="breadcrumb-item"><a
                                href="{% url 'party:list' year %}">{{ year }}</a>
                        </li>{% endcomment %}
                        <li class="breadcrumb-item active">{{ object.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
