{% extends 'party/base.html' %}

{% block title %}
    <title>Stats | Darklite Partywiki</title>
    <meta property="og:title" content="Stats | Darklite Partywiki"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Top parties</h3>
                <table>
                    <thead>
                    <th style="padding-right: 1em;">Trips towards</th>
                    <th>Party</th>
                    </thead>
                    <tbody>
                    {% for party in parties %}
                        <tr>
                            <td>{{ party.trips__count }}</td>
                            <td>
                                <a href="{% url 'party:detail' party.slug %}">{{ party }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h3>Top partygoers</h3>
                <table>
                    <thead>
                    <th style="padding-right: 1em;">Trips towards</th>
                    <th>Display name</th>
                    </thead>
                    <tbody>
                    {% for name in display_names %}
                        <tr>
                            <td>{{ name.count }}</td>
                            <td>
                                {{ name.display_name }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
