{% extends 'party/base.html' %}

{% block title %}
    <title>Stats | Darklite Partywiki</title>
    <meta property="og:title" content="Stats | Darklite Partywiki"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h3>Top parties</h3>
                <table>
                    <thead>
                    <th class="pe-2">Trips towards</th>
                    <th>Party</th>
                    </thead>
                    <tbody>
                    {% for party in parties %}
                        <tr>
                            <td>{{ party.trips__count }}</td>
                            <td>
                                <a href="{% url 'party:detail' party.slug %}">{{ party }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-sm-6">
                <h3>Top partygoers</h3>
                <table>
                    <thead>
                    <th class="pe-2">Trips towards</th>
                    <th>Display name</th>
                    </thead>
                    <tbody>
                    {% for name in display_names %}
                        <tr>
                            <td>{{ name.count }}</td>
                            <td>
                                {{ name.display_name }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 mt-3">
                <h3>Top party countries</h3>
                <table>
                    <thead>
                    <th class="pe-2">Amount</th>
                    <th>Country</th>
                    </thead>
                    <tbody>
                    {% for country in countries %}
                        <tr>
                            <td>{{ country.count }}</td>
                            <td>
                                <a href="{% url 'party:list-by-country' country.country_name %}">{{ country.country_name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-sm-6 mt-3">
                <h3>Top transportation</h3>
                <table>
                    <thead>
                    <th class="pe-2">Amount</th>
                    <th>Type</th>
                    </thead>
                    <tbody>
                    {% for transport in transportation %}
                        <tr>
                            <td>{{ transport.count }}</td>
                            <td>
                                {{ transport.type|capfirst }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 mt-3">
                <h3>Top departure places</h3>
                <table>
                    <thead>
                    <th class="pe-2">Amount</th>
                    <th>Departure Town</th>
                    </thead>
                    <tbody>
                    {% for town in towns %}
                        <tr>
                            <td>{{ town.count }}</td>
                            <td>
                                {{ town.departure_town|capfirst }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-sm-6 mt-3">
                <h3>Top airlines</h3>
                <table>
                    <thead>
                    <th class="pe-2">Amount</th>
                    <th>Name</th>
                    </thead>
                    <tbody>
                    {% for airline in airlines %}
                        <tr>
                            <td>{{ airline.count }}</td>
                            <td>
                                {{ airline.detail1|capfirst }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
