{% extends 'party/base.html' %}{% load crispy_forms_tags %}

{% block title %}
    <title>Update flight | Darklite Partywiki</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Update flight - {{ object.party }}</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ formset.management_form|crispy }}
                    <div class="row">
                        <div class="col-sm-6">
                            {% if objects.towards_party %}
                                <h4>Towards party</h4>
                            {% else %}
                                <h4>From party</h4>
                            {% endif %}
                            {{ form|crispy }}
                        </div>
                        <div class="col-sm-6">
                        </div>
                        <button type="submit">JOO</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
