{% load partywiki_extras %}
<tr class="table-data-row">
    <td class="text-truncate handle-ellipsis"
        style="max-width: 150px" title="{{ trip.display_name }}">{{ trip.display_name }}
    </td>
    {% if not user.is_authenticated %}
        <td style="filter: blur(3px);">
            <i class="fas fa-sign-in-alt"></i>
            Login needed
        </td>
    {% else %}
        <td class="text-truncate handle-ellipsis" style="max-width: 150px">
            {% include 'snippets/cf_flag.html' with country=trip.departure_country %}
            <span style="font-size: 0">{{ trip.departure_country.name }}</span>
            <span title="{{ trip.departure_town|get_destination_text }}">{{ trip.departure_town|get_destination_text }}</span>
        </td>
    {% endif %}

    {% if user.is_authenticated %}
        <td>{{ trip.departure_datetime|date:"D, d M Y H:i" }}</td>
    {% endif %}

    {% if not user.is_authenticated %}
        <td style="filter: blur(3px);">
            <i class="fas fa-sign-in-alt"></i>
            Login needed
        </td>
    {% else %}
        <td class="text-truncate handle-ellipsis" style="max-width: 150px">
            {% include 'snippets/cf_flag.html' with country=trip.arrival_country %}
            <span style="font-size: 0">{{ trip.arrival_country.name }}</span>
            <span title="{{ trip.arrival_town|get_destination_text }}">{{ trip.arrival_town|get_destination_text }}</span>
        </td>
    {% endif %}
    {% if user.is_authenticated %}
        <td>{{ trip.arrival_datetime|date:"D, d M Y H:i" }}</td>
        <td>
            <i class="fa fa-{{ trip.type }} tripTypeIcon" title="{{ trip.type }}"></i>
            {% if trip.detail1 %}
                {{ trip.detail1 }}
            {% endif %}
        </td>
        <td>
            {% if trip.detail2 %}
                {{ trip.detail2 }}
            {% endif %}
        </td>

        {% if not object.has_ended %}
            <td class="text-right" nowrap="">
                {% if direction == "to" %}
                    <a href="{% url 'party:clone-trip-to' object.slug trip.pk %}" title="Clone this trip">
                        <i class="far fa-clone icon-help"></i>
                    </a>
                    {% if trip.created_by == user %}
                        <a class="ms-2"
                           href="{% url 'party:update-trip-to' object.slug trip.pk %}" title="Modify this trip">
                            <i class="far fa-edit icon-help"></i>
                        </a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'party:clone-trip-from' object.slug trip.pk %}" title="Clone this trip">
                        <i class="far fa-clone icon-help"></i>
                    </a>
                    {% if trip.created_by == user %}
                        <a class="ms-2"
                           href="{% url 'party:update-trip-from' object.slug trip.pk %}" title="Modify this trip">
                            <i class="far fa-edit icon-help"></i>
                        </a>
                    {% endif %}
                {% endif %}

            </td>
        {% endif %}

    {% endif %}
</tr>
