{% extends 'party/base.html' %}{% load crispy_forms_tags %}

{% block title %}
    <title>Create flight | Darklite Partywiki</title>
    <meta property="og:title" content="Create flight | Darklite Partywiki" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% if towards_party %}
                    <h3>Create a Trip to {{ party }}</h3>
                {% else %}
                    <h3>Create a Trip from {{ party }}</h3>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {% crispy form %}
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>

{% endblock %}


{% block formmedia %}
    <style>
        .select2-selection, .select2-selection__arrow {
            height: 35px !important;
        }

        .select2-selection__arrow {
            display: none !important;
        }
    </style>
{% endblock %}
