{% load partywiki_extras %}
<tr class="table-data-row">
    <td class="text-truncate handle-ellipsis"
        style="max-width: 150px" title="{{ trip.display_name }}">{{ trip.display_name }}
    </td>
    <td class="text-truncate handle-ellipsis" style="max-width: 150px">
        <img src="/static/flags/{{ trip.departure_country|lower }}.gif"
             height="10" title="{{ trip.departure_country.name }}"
             alt="{{ trip.departure_country.name }}"
             onerror="this.style.display='none'">
        <span style="font-size: 0">{{ trip.departure_country.name }}</span>
        <span title="{{ trip.departure_town|get_destination_text }}">{{ trip.departure_town|get_destination_text }}</span>
    </td>
    {% if user.is_authenticated %}
        <td>{{ trip.departure_datetime|date:"D, d M Y H:i" }}</td>
    {% endif %}
    <td class="text-truncate handle-ellipsis" style="max-width: 150px">
        <img src="/static/flags/{{ trip.arrival_country|lower }}.gif"
             height="10" title="{{ trip.arrival_country.name }}"
             alt="{{ trip.arrival_country.name }}"
             onerror="this.style.display='none'">
        <span style="font-size: 0">{{ trip.arrival_country.name }}</span>
        <span title="{{ trip.arrival_town|get_destination_text }}">{{ trip.arrival_town|get_destination_text }}</span>
    </td>
    {% if user.is_authenticated %}
        <td>{{ trip.arrival_datetime|date:"D, d M Y H:i" }}</td>
        <td>
            <i class="fa fa-{{ trip.type }} tripTypeIcon" title="{{ trip.type }}"></i>
            {% if trip.detail1 %}
                {{ trip.detail1 }}
            {% endif %}
        </td>
        <td>
            {% if trip.detail2 %}
                {{ trip.detail2 }}
            {% endif %}
        </td>

        {% if not object.has_ended or user.is_superuser %}
            <td class="text-right" nowrap="">
                {% if direction == "to" %}
                    {% if trip.created_by == user or user.is_superuser %}
                        <a href="{% url 'party:update-trip-to' object.slug trip.pk %}" title="Modify this trip">
                            <i class="far fa-edit icon-help"></i>
                        </a>&nbsp;
                    {% endif %}
                    <a href="{% url 'party:clone-trip-to' object.slug trip.pk %}" title="Clone this trip">
                        <i class="far fa-clone icon-help"></i>
                    </a>
                {% else %}
                    {% if trip.created_by == user or user.is_superuser %}
                        <a href="{% url 'party:update-trip-from' object.slug trip.pk %}" title="Modify this trip">
                            <i class="far fa-edit icon-help"></i>
                        </a>&nbsp;
                    {% endif %}
                    <a href="{% url 'party:clone-trip-from' object.slug trip.pk %}" title="Clone this trip">
                        <i class="far fa-clone icon-help"></i>
                    </a>
                {% endif %}

            </td>
        {% endif %}

    {% endif %}
</tr>
