{% extends 'party/base.html' %}{% load crispy_forms_tags %}

{% block title %}
    <title>Create Trip | Darklite Partywiki</title>
    <meta property="og:title" content="Create Trip | Darklite Partywiki"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% if towards_party %}
                    <h3>Create a Trip to {{ party }}</h3>
                {% else %}
                    <h3>Create a Trip from {{ party }}</h3>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {% crispy form %}
                    {% if not party_ended %}
                        <button class="btn btn-primary" type="submit">Save</button>
                        {% if object %}
                            <a class="btn btn-danger ms-4"
                               href="{% url 'party:delete-trip' party.slug object.pk %}">Delete</a>
                        {% endif %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

    <script>
        $("#id_departure_datetime").on("change.datetimepicker", e => {
            $("#id_arrival_datetime").val(e.target.value)
        })
    </script>

{% endblock %}
