@media (min-width: 810px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-custom .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom > .container {
        flex-wrap: nowrap;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}


@font-face {
  font-family: "Roboto";
  src: url("/static/party/fonts/Roboto/Roboto-Light.ttf") format("truetype")
}

body {
    font-family: "Roboto", sans-serif;
}

nav {
    margin-bottom: 1em;
}

.footer {
    margin-top: 1em;
}

.square {
    border-radius: 0;
}
