@media (min-width: 879px) {
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-custom .dropdown-menu {
        position: absolute;
    }

    .navbar-expand-custom .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .navbar-expand-custom > .container {
        flex-wrap: nowrap;
    }

    .navbar-expand-custom .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-custom .navbar-toggler {
        display: none;
    }

    .sceneid-a {
        padding: 4px 8px 0 8px;
    }
}


@font-face {
    font-family: "Roboto";
    src: url("/static/party/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
}

.footer {
    margin-top: 1em;
}

.square {
    border-radius: 0;
}

/* fixing issues with django-autocomplete-light input rendering */

.select2-selection {
    height: 37px !important;
}

.select2-selection__arrow {
    display: none !important;
}

.select2-container {
    width: 100% !important;
    min-width: 0 !important;
}

/* autocomplete dropdown input and results */

.select2-selection--single {
    background-color: var(--bs-body-bg) !important;
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
}

.select2-selection__rendered {
    color: var(--bs-body-color) !important;
    line-height: 23px !important;
    padding-left: 0 !important;
}

.select2-results__option {
    color: var(--bs-body-color) !important;
}

.select2-results__option--highlighted {
    color: var(--bs-body-bg) !important;
}

.select2-search__field {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}

.select2-dropdown {
    background-color: var(--bs-body-bg) !important;
}


/* Fix Font Awesome inconsistent widths */

.tripTypeIcon {
    width: 16px
}

/* SceneID logo in Navbar */

.sceneid-img {
    height: 30px;
}

/* Search inputgroup in Navbar */

.search-input-group {
    max-width: 250px;
}

/* Chart stylings */

.chart {
    max-width: 400px;
    max-height: 400px;
}

/* Fix crispy forms suffix calendar icon */
.input-group-text {
    display: block;
}

/* Theme dropdown icons */
.themeIcons {
    width: 1.5em;
    text-align: center;
}
