atproto==0.0.56
crispy-bootstrap5==2024.10
django==4.2.18
django-autocomplete-light==3.11.0
django-countries==7.6.1
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
django-environ==0.11.2
djangorestframework==3.15.2
django-extensions==3.2.3
django-object-actions==4.3.0
django-simple-plausible==0.0.5
django-tempus-dominus==5.1.2.17
drf-spectacular==0.27.2
ipython==8.29.0
gunicorn==23.0.0
pillow==11.0.0
# psycopg[binary]==3.2.3
requests==2.32.3
user-agents==2.2.0
