atproto==0.0.61
crispy-bootstrap5==2025.6
django==5.2.8
django-autocomplete-light==3.12.1
django-countries==7.6.1
django-crispy-forms==2.4
django-debug-toolbar==5.2.0
django-environ==0.12.0
djangorestframework==3.16.0
django-extensions==4.1.0
django-object-actions==5.0.0
django-simple-plausible==0.0.5
django-tempus-dominus==5.1.2.17
drf-spectacular==0.28.0
ipython==9.3.0
gunicorn==23.0.0
pillow==11.3.0
# psycopg[binary]==3.2.3
requests==2.32.4
shortuuid==1.0.13
user-agents==2.2.0
