{% extends 'party/base.html' %}

{% block title %}
    <title>Profile | Darklite Partywiki</title>
    <meta property="og:title" content="Profile | Darklite Partywiki"/>
{% endblock %}

{% block extrahead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"
            integrity="sha512-7O5pXpc0oCRrxk8RUfDYFgn0nO1t+jLuIOQdOMRp4APB7uZ4vSjspzp5y6YDtDs4VzUSTbWzBFZ/LKJhnyFOKw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const copyButton = document.getElementById('copybutton')
            if (!copyButton) {
                return
            }
            const popover = new bootstrap.Popover(copyButton, {placement: 'top'})
            const clipboard = new ClipboardJS(copyButton)
            clipboard.on("success", () => {
                popover.show()
                setTimeout(() => {
                    popover.hide()
                }, 2000)
            })
        })
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mb-4">
                <h3 class="mb-3">Profile</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="form-floating">
                            {{ form.display_name }}
                            <label for="{{ form.display_name.auto_id }}">Your name</label>
                        </div>
                        <button class="btn btn-sm btn-primary" type="submit">Save</button>
                    </div>
                    <div class="form-text">{{ form.display_name.help_text }}</div>
                </form>
                <hr/>
                <h5>Party trip stats sharing</h5>
                <p>
                    Want to share your party going stats? You can create an unique share URL here
                    and claim bragging rights on your party travel history. You can always disable it.
                </p>
                {% if user.share %}
                    <div class="input-group">
                        <input type="text" class="form-control" id="share_url" readonly
                               aria-label="Sharing URL" value="{{ share_url }}">
                        <button id="copybutton" class="btn btn-primary" type="button"
                                data-bs-content="Copied" data-clipboard-target="#share_url">
                            <i class="fa-regular fa-clipboard me-2"></i>Copy
                        </button>
                    </div>
                    <div class="form-text mb-4">Created: {{ user.share.created }}</div>
                    <p>
                        You can delete the sharing URL and the link won't work any more.
                        If you create a new one, it will be different.
                    </p>
                    <a href="{% url 'authentication:set-profile-share' %}" class="btn btn-sm btn-danger"
                       onclick="return confirm('Are you sure you want delete your share URL?')">
                        Delete URL</a>
                {% else %}

                    <a href="{% url 'authentication:set-profile-share' %}" class="btn btn-primary">Create Share URL</a>
                {% endif %}
                <hr class="d-block d-md-none"/>
            </div>
            <div class="col-12 col-md-6">
                <h3 class="mb-3">Your parties</h3>
                {% include 'snippets/user-party-table.html' %}
            </div>
        </div>

    </div>
{% endblock %}
