{% extends "admin/base_site.html" %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for object in queryset %}
            <input type="hidden" name="_selected_action" value="{{ object.pk }}"/>
        {% endfor %}

        <select name="trip_type">
            {% for trip_type in trip_type_list %}
                <option value="{{ trip_type.0 }}">{{ trip_type.1 }}</option>
            {% endfor %}
        </select>

        <input type="hidden" name="action" value="update_trip_type"/>
        <input type="submit" name="apply" value="Update trip type"/>
    </form>
{% endblock %}
